<table class="w-full">
  <tr>
    <td class="w-[21%] sm:w-[35%] pl-[12px] pr-[4px] pt-[12px] pb-[12px] align-middle align-left-table">
    <x-image
    imgUrl="image-2.png" 
    class="w-[110px] h-[45px]"
  /></td>
    <td class="w-[79%] sm:w-[65%] sm:pr-[20px] sm:pl-[16px] pl-[20px] py-[12px] pr-[112px] align-middle text-[12px] leading-[13.8px] font-normal align-left-table text-gray">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
  </tr>
</table>
