<table class="w-full" >
  <tr>
    <td class="p-[20px] pt-[40px] pb-[16px] align-text-top align-left-table text-black font-bold text-xs leading-[14px]">
      Ut enim ad minim:</td>
  </tr>
  <tr>
    <td class="p-[20px] pt-[0px] align-text-top align-left-table text-left text-black font-normal text-xs leading-[14px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
  </tr>
  <tr>
    <td class="p-[20px] pt-[0px] align-text-top align-left-table text-left text-black font-normal text-xs leading-[14px]">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
  </tr>
  <tr>
    <td class="p-[20px] pt-[8px] pb-[4px] align-text-top align-left-table text-left text-black font-bold text-xs leading-[14px]">Sint occaecat cupidatat:</td>
  </tr>
  <tr>
    <td class="p-[20px] pt-[0px] pb-[0px] align-text-top align-left-table text-left text-black font-normal text-xs leading-[14px]">
      <ol class="list-decimal pl-[20px]">
        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</li>
      </ol>
    </td>
  </tr>
</table>