<table class="w-full">
        <tr>
          <td class="pr-[20px] pl-[20px]"><hr class="border-t-0 no-border-repeat border-black-500 border-solid"></td>
        </tr>
        <tr>
          <td class="p-[20px] pt-[20px] pb-[4px] align-text-top align-center-table text-black font-normal text-xs leading-[14px]">Sed do eiusmod tempor incididunt ut labore</td>
        </tr>
        <tr>
          <td class="p-[12px] pb-[40px] align-center-table">
            <x-image
            imgUrl="image-2.png" 
            class="w-[100px] h-[40px]"
          /></td>
        </tr>
</table>
